body {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.box {
    border-color: rgb(220, 220, 220);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    width: 500px;
    height: 650px;
    font-size: 20px;
    font-family: "Avenir LT Std";
    color: rgb(0, 0, 0);
    position: relative;
}

.box div {}

.boxTituloH1 {
    border-radius: 20px;
    background-image: -moz-linear-gradient( -90deg, rgb(0, 0, 255) 0%, rgb(1, 1, 128) 85%, rgb(18, 0, 255) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(0, 0, 255) 0%, rgb(1, 1, 128) 85%, rgb(18, 0, 255) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(0, 0, 255) 0%, rgb(1, 1, 128) 85%, rgb(18, 0, 255) 100%);
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 28px;
    font-family: "Avenir LT Std";
    color: rgb(255, 255, 255);
    text-align: center;
}

input {
    width: 250px;
    border-width: 3px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.24);
    padding: 20px;
    border-radius: 20px;
    border-bottom: 1px solid gray;
}

.valores div {
    position: relative;
    padding: 5px;
}

.desenhoResultado {
    position: relative;
    left: 0px;
    top: 0px;
    width: 500px;
    height: 400px;
}

h3 {
    font-size: 20px;
    font-family: "Avenir LT Std";
    color: rgb(255, 255, 255);
    padding: 20px;
}

.caixaVerde {
    border-radius: 20px;
    background-color: rgb(0, 83, 33);
    width: auto;
    height: 310px;
    }

button {
    width: 100%;
    border-radius: 30px;
    background-image: -moz-linear-gradient( -90deg, rgb(180, 0, 255) 0%, rgb(100, 1, 128) 85%, rgb(198, 0, 255) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(180, 0, 255) 0%, rgb(100, 1, 128) 85%, rgb(198, 0, 255) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(180, 0, 255) 0%, rgb(100, 1, 128) 85%, rgb(198, 0, 255) 100%);
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: "Avenir LT Std";
    color: whitesmoke;
 }